@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: #f8f9d7;
  --dark: #20252b;
  --light-turquoise: #d7e6f9;
  --violet: #d597fa;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: initial;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #d7e6f9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img::selection {
  background: none;
}